<div class="searchBar">
  <label for="search">
    <img src="../../assets/icon-search.svg" alt="" />
  </label>
  <input
    type="text"
    id="bar"
    placeholder="Search for TV series"
    [(ngModel)]="filterContent"
  />
</div>

<ng-container *ngIf="tvShows | fitler:filterContent:'title' as result; else noItems">
  <section class="searchResults" *ngIf="filterContent.length > 0">
  <div  class="onlyFirstPlease" *ngFor="let show of (tvShows | fitler:filterContent:'title') let l = count">
      <h1 id="searchResults" class="searchResults">Found {{l}} results for '{{filterContent}}'</h1>
  </div>
</section>
    <ng-container *ngIf="!result.length">
      <h1 class="searchResultsNone" >Found 0 results for '{{filterContent}}'</h1>
    </ng-container>
</ng-container>
<ng-template #noItems></ng-template>

<section class="cardContainer">
  <h2 *ngIf="filterContent.length === 0">TV Series</h2>
  <article
    class="card"
    *ngFor="let show of tvShows | fitler: filterContent:'title'; let i = index"
  >
    <img src="{{ show.thumbnail.regular.large }}" alt="" />
    <div class="cardData-container">
      <p>
        {{ show.year }}
      </p>
      <span></span>
      <img src="../../assets/icon-category-tv.svg" alt="tv-icon" class="typeImg" />
      <p>{{ show.category }}</p>
      <span></span>
      <p>{{ show.rating }}</p>
    </div>
    <h3>{{ show.title }}</h3>
    <div class="playHover">
        <div class="playButton">
            <img src="../../assets/icon-play.svg" alt="play button">
            <p>Play</p>
        </div>
    </div>
    <div *ngIf="tvShows[i].isBookmarked === false; else bookmarked">
      <div
        class="bookmark-container"
        (click)="updateBookmark(true, show.title)"
      >
        <img
          src="../../assets/icon-bookmark-empty.svg"
          alt="empty bookmark icon"
        />
      </div>
    </div>
    <ng-template #bookmarked>
      <div
        class="bookmark-container"
        (click)="updateBookmark(false, show.title)"
      >
        <img
          src="../../assets/icon-bookmark-full.svg"
          alt="empty bookmark icon"
        />
      </div>
    </ng-template>
  </article>
</section>